Repository Health-Informatics-UoN/hutch-trefx, pull requests merged in 2024-01, with the labels that each got.

#1 Repo migration updates
  .github/pull_request_template.md
  .github/workflows/deploy.docs-website.yml
  .github/workflows/pr.check.work-item-ref.yml
  .github/workflows/release.HutchAgent.yml
  website/docusaurus.config.js
Labels: Area: CI, Area: Docs

#2 AB#69937: Configuration guides
  .github/workflows/publish.HutchAgent.yml
  ansible/playbook.yml
  ansible/playbooks/files/hutch-agent.service
  website/docs/getting-started/configuration/_category_.json
  website/docs/getting-started/configuration/agent.md
  website/docs/getting-started/installation/agent.md
  website/docs/getting-started/installation/index.md
Labels: Area: CI, Area: Docs

#4 AB#69937: Configuration guides (part 2)
  website/docs/getting-started/configuration/agent.md
  website/docs/getting-started/installation/agent.md
Labels: Area: Docs

#5 Initial Issue Templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: Area: CI

#7 Create issue_template.md
  .github/issue_template.md
Labels: Area: CI
